In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('over_sample.csv')

In [3]:
df.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8749 entries, 0 to 8748
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             8749 non-null   object
 1   age                8749 non-null   float64
 2   hypertension       8749 non-null   int64
 3   heart_disease      8749 non-null   int64
 4   ever_married       8749 non-null   object
 5   work_type          8749 non-null   object
 6   Residence_type     8749 non-null   object
 7   avg_glucose_level  8749 non-null   float64
 8   bmi                8007 non-null   float64
 9   smoking_status     8749 non-null   object
 10  stroke             8749 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 752.0+ KB

In [5]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [6]:
df['stroke'].value_counts()

0    4861
1    3888
Name: stroke, dtype: int64

# Data Preprocess
1. Drop nan value
2. Drop the value that the 'gender == Other'
3. Convert Categories to numbers
4. Split the Dataset into train set and test set

In [7]:
# Step 1: Drop nan value
df = df.dropna()

In [8]:
# Step 2: Drop the value that the 'gender == Other'
df = df.loc[df['gender'] != 'Other']

In [9]:
# Step 3: Convert Categories to numbers
df['gender'] = df.iloc[:,1].astype('category').cat.codes
df['ever_married'] = df.iloc[:,5].astype('category').cat.codes
df['work_type'] = df.iloc[:,6].astype('category').cat.codes
df['Residence_type'] = df.iloc[:,7].astype('category').cat.codes
df['smoking_status'] = df.iloc[:,10].astype('category').cat.codes

In [10]:
df.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,88,67.0,0,1,2,1,3733,228.69,36.6,1,1
2,101,80.0,0,1,2,0,2429,105.92,32.5,1,1
3,70,49.0,0,0,2,1,3308,171.23,34.4,1,1
4,100,79.0,1,0,3,0,3317,174.12,24.0,1,1
5,102,81.0,0,0,2,1,3366,186.21,29.0,1,1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8006 entries, 0 to 8748
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             8006 non-null   int8
 1   age                8006 non-null   float64
 2   hypertension       8006 non-null   int64
 3   heart_disease      8006 non-null   int64
 4   ever_married       8006 non-null   int8
 5   work_type          8006 non-null   int8
 6   Residence_type     8006 non-null   int16
 7   avg_glucose_level  8006 non-null   float64
 8   bmi                8006 non-null   float64
 9   smoking_status     8006 non-null   int8
 10  stroke             8006 non-null   int64
dtypes: float64(3), int16(1), int64(3), int8(4)
memory usage: 484.7 KB

In [12]:
# Step 4: Split the Dataset into train set and test set
X = df.iloc[:, 1:-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Predict
- Method 1: Naive Bayes
- Method 2: Decision Tree
- Method 3: KNN
- Method 4: SVM
- Method 5: Neural Network

In [13]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB
model_gnb = GaussianNB()
model_gnb = model_gnb.fit(X_train, y_train)
print("Train Score:", model_gnb.score(X_train, y_train))
print("Test Score:", model_gnb.score(X_test, y_test))

Train Score: 1.0
Test Score: 1.0

In [14]:
y_pred=model_gnb.predict(X_test)

In [15]:
confusion_matrix(y_test,y_pred)

array([[987,   0],
       [  0, 615]], dtype=int64)

In [16]:
recall_score(y_test,y_pred)

1.0

In [17]:
# Decision Tree
from sklearn import tree
model_tree = tree.DecisionTreeClassifier()
model_tree = model_tree.fit(X_train, y_train)
print("Train Score:", model_tree.score(X_train, y_train))
print("Test Score:", model_tree.score(X_test, y_test))

Train Score: 1.0
Test Score: 1.0

In [18]:
y_pred=model_tree.predict(X_test)

In [19]:
confusion_matrix(y_test,y_pred)

array([[987,   0],
       [  0, 615]], dtype=int64)

In [20]:
recall_score(y_test,y_pred)

1.0

In [21]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
model_knn = KNeighborsClassifier(n_neighbors=2)
model_knn.fit(X_train, y_train)
print("Train Score:", model_knn.score(X_train, y_train))
print("Test Score:", model_knn.score(X_test, y_test))

Train Score: 1.0
Test Score: 0.9675405742821473

In [22]:
# SVM
from sklearn import svm
model_svm = svm.SVC()
model_svm.fit(X_train, y_train)

print("Train Score:", model_svm.score(X_train, y_train))
print("Test Score:", model_svm.score(X_test, y_test))

Train Score: 0.6797314178638351
Test Score: 0.7091136079900124

In [23]:
# Neural Network
from sklearn.neural_network import MLPClassifier
model_MLP = MLPClassifier()
model_MLP.fit(X_train, y_train)
print("Train Score:", model_MLP.score(X_train, y_train))
print("Test Score:", model_MLP.score(X_test, y_test))

Train Score: 1.0
Test Score: 1.0

c:\python39\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [24]:
y_pred=model_MLP.predict(X_test)

In [25]:
confusion_matrix(y_test,y_pred)

array([[987,   0],
       [  0, 615]], dtype=int64)

In [26]:
recall_score(y_test,y_pred)

1.0