In [2]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('under_sample.csv')

In [4]:
df.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,78.0,0,1,Yes,Private,Rural,221.06,25.5,formerly smoked,0
1,Female,45.0,0,0,Yes,Govt_job,Rural,84.99,35.4,Unknown,0
2,Female,45.0,0,0,Yes,Govt_job,Rural,63.01,31.5,never smoked,0
3,Female,60.0,0,0,Yes,Self-employed,Rural,83.57,24.5,never smoked,0
4,Male,52.0,0,0,Yes,Self-employed,Urban,78.40,64.8,never smoked,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             560 non-null    object
 1   age                560 non-null    float64
 2   hypertension       560 non-null    int64
 3   heart_disease      560 non-null    int64
 4   ever_married       560 non-null    object
 5   work_type          560 non-null    object
 6   Residence_type     560 non-null    object
 7   avg_glucose_level  560 non-null    float64
 8   bmi                509 non-null    float64
 9   smoking_status     560 non-null    object
 10  stroke             560 non-null    int64
dtypes: float64(3), int64(3), object(5)
memory usage: 48.2+ KB

In [6]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [7]:
df['stroke'].value_counts()

0    311
1    249
Name: stroke, dtype: int64

# Data Preprocess
1. Drop nan value
2. Drop the value that the 'gender == Other'
3. Convert Categories to numbers
4. Split the Dataset into train set and test set

In [8]:
# Step 1: Drop nan value
df = df.dropna()

In [9]:
# Step 2: Drop the value that the 'gender == Other'
df = df.loc[df['gender'] != 'Other']

In [10]:
# Step 3: Convert Categories to numbers
df['gender'] = df.iloc[:,1].astype('category').cat.codes
df['ever_married'] = df.iloc[:,5].astype('category').cat.codes
df['work_type'] = df.iloc[:,6].astype('category').cat.codes
df['Residence_type'] = df.iloc[:,7].astype('category').cat.codes
df['smoking_status'] = df.iloc[:,10].astype('category').cat.codes

In [11]:
df.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,84,78.0,0,1,1,0,458,221.06,25.5,0,0
1,51,45.0,0,0,0,0,173,84.99,35.4,0,0
2,51,45.0,0,0,0,0,31,63.01,31.5,0,0
3,66,60.0,0,0,2,0,157,83.57,24.5,0,0
4,58,52.0,0,0,2,1,113,78.40,64.8,0,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 509 entries, 0 to 559
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             509 non-null    int8
 1   age                509 non-null    float64
 2   hypertension       509 non-null    int64
 3   heart_disease      509 non-null    int64
 4   ever_married       509 non-null    int8
 5   work_type          509 non-null    int8
 6   Residence_type     509 non-null    int16
 7   avg_glucose_level  509 non-null    float64
 8   bmi                509 non-null    float64
 9   smoking_status     509 non-null    int8
 10  stroke             509 non-null    int64
dtypes: float64(3), int16(1), int64(3), int8(4)
memory usage: 30.8 KB

In [13]:
# Step 4: Split the Dataset into train set and test set
X = df.iloc[:, 1:-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Predict
- Method 1: Naive Bayes
- Method 2: Decision Tree
- Method 3: KNN
- Method 4: SVM
- Method 5: Neural Network

In [14]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB
model_gnb = GaussianNB()
model_gnb = model_gnb.fit(X_train, y_train)
print("Train Score:", model_gnb.score(X_train, y_train))
print("Test Score:", model_gnb.score(X_test, y_test))

Train Score: 1.0
Test Score: 1.0

In [15]:
y_pred=model_gnb.predict(X_test)

In [16]:
confusion_matrix(y_test,y_pred)

array([[57,  0],
       [ 0, 45]], dtype=int64)

In [17]:
recall_score(y_test,y_pred)

1.0

In [18]:
# Decision Tree
from sklearn import tree
model_tree = tree.DecisionTreeClassifier()
model_tree = model_tree.fit(X_train, y_train)
print("Train Score:", model_tree.score(X_train, y_train))
print("Test Score:", model_tree.score(X_test, y_test))

Train Score: 1.0
Test Score: 1.0

In [19]:
y_pred=model_tree.predict(X_test)

In [20]:
confusion_matrix(y_test,y_pred)

array([[57,  0],
       [ 0, 45]], dtype=int64)

In [21]:
recall_score(y_test,y_pred)

1.0

In [22]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
model_knn = KNeighborsClassifier(n_neighbors=2)
model_knn.fit(X_train, y_train)
print("Train Score:", model_knn.score(X_train, y_train))
print("Test Score:", model_knn.score(X_test, y_test))

Train Score: 0.8329238329238329
Test Score: 0.7254901960784313

In [23]:
# SVM
from sklearn import svm
model_svm = svm.SVC()
model_svm.fit(X_train, y_train)

print("Train Score:", model_svm.score(X_train, y_train))
print("Test Score:", model_svm.score(X_test, y_test))

Train Score: 0.7002457002457002
Test Score: 0.7254901960784313

In [24]:
# Neural Network
from sklearn.neural_network import MLPClassifier
model_MLP = MLPClassifier()
model_MLP.fit(X_train, y_train)
print("Train Score:", model_MLP.score(X_train, y_train))
print("Test Score:", model_MLP.score(X_test, y_test))

Train Score: 0.6511056511056511
Test Score: 0.6568627450980392

In [25]:
y_pred=model_MLP.predict(X_test)

In [26]:
confusion_matrix(y_test,y_pred)

array([[57,  0],
       [35, 10]], dtype=int64)

In [27]:
recall_score(y_test,y_pred)

0.2222222222222222